@use '../abstracts/' as *;

.square {
    width: 11px;
    height: 11px;
    background: $color-accent;

    &--glow {
        box-shadow: 0 0 10px $color-accent-dim;
    }
}

.circle {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: $color-accent;
    position: relative;

    &--anim {
        &::after {
            content: "";
            position: absolute;
            inset: -4px;
            border-radius: 50%;
            border: 1px solid $color-accent;
            animation: ping 1.9s ease-out infinite;
        }
    }


}